{
  "root": true,
  "env": {
    "node": true,
    "browser": true
  },
  "parser": "vue-eslint-parser",
  "plugins": ["@typescript-eslint", "boundaries"],
  "parserOptions": {
    "parser": "@typescript-eslint/parser"
  },
  "settings": {
    "import/resolver": {
      "typescript": {
        "alwaysTryTypes": true
      }
    }
  },
  "extends": [
    "plugin:vue/vue3-recommended",
    "eslint:recommended",
    "plugin:@typescript-eslint/recommended",
    "plugin:boundaries/recommended",
    "plugin:prettier/recommended",
    "@feature-sliced"
  ]
}
